<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <title>{% block title %}{% endblock %} - PAW 2019</title>
            <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
            <link rel="stylesheet" type="text/css" href="/public/css/main.css">
        {% endblock %}
    </head>
    <body>
        <header>{% block header %}{% endblock %}</header>
        <main class="main-container">{% block main %}{% endblock %}</main>
        <footer>{% block footer %}{% endblock %}</footer>
    </body>
</html>
